<div class="container mt-4">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      
        <div class="mt-3">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="email" id="email" formControlName="email" required />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <span class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
          <span class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</span>
        </div>
      </div>

      <div class="mt-3">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" formControlName="password" required />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <span class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
        </div>
      </div>

      <button class="btn btn-primary mt-2" type="submit">Login</button>
      
      <div *ngIf="loginError" class="alert alert-danger mt-3">
        {{ loginError }}
      </div>
      
    </form>
    <p class="mt-3">If you don't have an account, <a routerLink="/signup" ariaCurrentWhenActive="page">click here to sign up</a>.</p>
  </div>

  